<h1>Play:	<%= @player1_name %> -vs- <%= @player2_name %></h1>

<p>Player1: <%= @player1_name %></p>
<p>Player2: <%= @player2_name %></p>
<p><%= @player2_name %>'s HitPoints: <%= @player2_health%></p>


<div>
<form action = "/play" method = "post">
 Player 1: <input type = "submit" value = 'Attack'>
    </form>
</div>
<% if @attacked %>
	<%= @player1_name %> has attacked <%= @player2_name %>
<%end%>
